.transition-group {
    list-style: none;
    max-width: 1000px;
}

.item {
    display: inline-block;
    width: 200px;
    margin: 16px;
    box-sizing: border-box;
}

.fill-page {
    min-height: 90vh;
}

.filter-area {
    border-right: 2px solid rgba(100, 100, 100, 0.5);
}

@media (max-width:720px) {
    .transition-group {
        padding: 0;
        margin: 0;
    }
    .on-small {
        margin: 10px;
        width: 150px;
    }
}

// .fadeInOut {
//     animation-name: fade2;
//     animation-duration: 500ms;
//     animation-iteration-count: 1;
//     animation-fill-mode: none;
//   }

//   @keyframes fade2 {
//     0% {
//       opacity: 0;
//       transform: scale(0);
//     }
  
//     85% {
//       opacity: .85;
//       transform: scale(1.1);
//     }
  
//     100% {
//       opacity: 1;
//       transform: scale(1);
//     }
//   }
  
//   @for $i from 0 through 20 {
//     .fadeInOut:nth-child(#{$i + 1}) {
//       animation-delay: 0.1s * $i;
//     }
//   }