$carousel-height : 50vh;

.carousel {
    height: $carousel-height;
}

.carousel-inner {
    height: $carousel-height;
}

.carousel-item {
    width: 100%;
    position: relative;
}

.img-frame {
    position: absolute;               /* 2 */
    top: 25%;                       /* 3 */
    transform: translateY(-25%);
    width: 100%;
}

@media only screen and (max-width: 760px) {
    .carousel {
        height: 35vh;
    }
    .carousel-inner {
        height: 35vh;
    }
  }