<section-title [sectionTitle]="(sectionProperties | async)?.featuredListTitle"></section-title>

<!-- LARGE SCREEN FORMAT -->
<div class="container d-none d-lg-block">
    <div class="row">
        <div class="col-3" *ngFor="let item of (topInventory | async)">
            <item [item]="item"></item>
        </div>
    </div>
</div>


<!-- SMALL SCREEN FORMAT -->
<div class="container d-lg-none">
    <div class="row">
        <div class="col-4" *ngFor="let item of (topInventory | async)">
            <item [item]="item"></item>
        </div>
    </div>
</div>