<div class="container">
  <div class="row">
    <div class="col-12  p-3">
      <h4>Orders</h4>
    </div>
  </div>

  <div *ngFor="let order of (orders | async); let i=index">
    <mat-card class="my-3 mat-elevation-z8">
      <div class="row">
        <div class="col-12 d-flex justify-content-between mb-3">
          <div class="d-none d-lg-block"><strong>Order ID: </strong>{{order.id}}</div>
          <div><strong>Date Created: </strong>{{order.dateCreated.seconds*1000 | date : 'short'}}</div>
          <div><strong>Total: </strong>{{order.amount | currency}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p class="email" (click)="setEmailShortcut(order.user.email)">{{order.user.email}}</p>
          <p class="name my-1"><strong>{{order.user.firstName}} {{order.user.lastName}}</strong></p>
          <p class="mb-1"><small>{{order.user.street}}</small></p>
          <p><small>{{order.user.city}}, {{order.user.state}} {{order.user.zip}}</small></p>
        </div>
        <div class="col-md-6 col-5">
          <mat-form-field style="width: 100%">
            <textarea matInput placeholder="Notes" [(ngModel)]="order.notes" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
            </textarea>
          </mat-form-field>
          <button mat-raised-button style="width: 50px" (click)="onSaveNote(order)">Save</button>
        </div>
        <div class="col-md-2 col-3">
          <div class="row d-flex justify-content-center my-2">
            <button mat-raised-button color="warn" (click)="onCancelOrder(order)" style="width: 80px">Cancel</button>
          </div>
          <div class="row d-flex justify-content-center my-2">
            <button mat-raised-button color="accent" style="width: 80px" *ngIf="order.status=='New'"
              (click)="onConfirm(order)">Confirm</button>
            <button mat-raised-button color="primary" style="width: 80px" *ngIf="order.status=='Confirmed'"
              (click)="onShipped(order)">Shipped</button>
            <button mat-raised-button color="primary" style="width: 80px" *ngIf="order.status=='Shipped'"
              (click)="onFinish(order)">Finish</button>
          </div>
          <div class="row d-flex justify-content-center my-2">
            <p><strong>Status: </strong>{{order.status}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="my-0"><strong>Items:</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex flex-row my-3">
          <div class="mx-3" style="width: 150px; height: 150px;" *ngFor="let item of order.items">
            <item [item]="item" [showCart]="false"></item>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
