<div class="container item" *ngIf="item">
    <div class="row h-100" *ngIf="item.image.length>0">
        <div class="col-12 p-0 d-flex align-items-center justify-content-center">
            <img class="icon" 
                *ngIf="item.thumbnail" 
                [src]="item.thumbnail" 
                (click)="openDialog()" 
                [ngStyle]="{'transform': 'scaleX('+item.image[0].scale+') rotate('+item.image[0].rotation+'deg)', 'opacity': item.isSold?'.6':'1'}">
            <p class="sold-out" *ngIf="item.isSold">SOLD OUT</p>
        </div>
    </div>
</div>