<div class="container" *ngIf="item">
    <div class="row" *ngIf="item.image.length>0">
        <div class="col-12 d-flex justify-content-center align-items-center px-0 item">
            <img class="icon"  width="200" height="200" *ngIf="item.thumbnail" [src]="item.thumbnail" (click)="openDialog()" [ngStyle]="{'transform': 'scaleX('+item.image[0].scale+') rotate('+item.image[0].rotation+'deg)', 'opacity': item.isSold?'.6':'1'}">
            <p class="sold-out" *ngIf="item.isSold">SOLD OUT</p>
        </div>
    </div>
</div>