.small-button {
    width: 48px; 
    padding: 0; 
    min-width: unset !important;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.pic-icon {
    width: 100px;
    height: 100px;
}

.picture-placeholder{
    background: #ccc;
    border: dotted 3px #999;
    height: 100px;
    width: 100px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}