<div class="container">
  <div class="row">
    <div class="col-12  p-3">
      <h4>Other Controls</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card class="my-3 mat-elevation-z8">
        <div class="row">
          <div class="col-12">
            <p><strong>Image Control:</strong></p>
            <p>Homepage Banner:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div *ngIf="headerImages" cdkDropList (cdkDropListDropped)="dropPicture($event)">
              <div class="m-2" *ngFor="let pic of headerImages; let n=index" (mousedown)="setSelectedImage(n)"
                cdkDrag cdkDragBoundary=".picture-containter" [cdkDragData]="n">
                <div class="row">
                  <div class="col-6 d-flex justify-content-center">
                    <!-- Drag & Drop Place holder -->
                    <!-- <div class="picture-placeholder" *cdkDragPlaceholder></div> -->

                    <!-- Image -->
                    <!-- <img class="img-thumbnail" *ngIf="pic.url"
                    [ngClass]="{'item-img-selected': i==selectedPicture.itemNum && n==selectedPicture.picNum}"
                    [src]="pic.url" [ngStyle]="{'transform': 'rotate('+pic.rotation+'deg)'}"> -->
                    <!-- Loading Image -->
                    <div *ngIf="!pic.url" class="picture-placeholder d-flex align-items-end">
                      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                  </div>
                  <div class="col-6 d-flex flex-row align-items-center justify-content-around px-0">
                    <button class="small-button" mat-raised-button color="warn"
                      (click)="onDeleteSelectedPicture()">X</button>
                    <button class="small-button" mat-raised-button (click)="onRotatePictureLeft()">
                      <mat-icon>rotate_left</mat-icon>
                    </button>
                    <button class="small-button" mat-raised-button (click)="onRotatePictureRight()">
                      <mat-icon>rotate_right</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput multiple>
            <button class="small-button" mat-raised-button (click)="fileInput.click()">+</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <p>About Homepage Icon:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <!-- Image -->
            <img class="img-thumbnail" *ngIf="aboutIcon"
            [src]="aboutIcon">
          </div>
          <div class="col-6 d-flex flex-row align-items-center justify-content-around px-0">
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
            <button mat-raised-button color="warn" (click)="fileInput.click()">Change</button>
            <button class="small-button" mat-raised-button (click)="onRotatePictureLeft()">
              <mat-icon>rotate_left</mat-icon>
            </button>
            <button class="small-button" mat-raised-button (click)="onRotatePictureRight()">
              <mat-icon>rotate_right</mat-icon>
            </button>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-12">
            <p>About Us Header:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <!-- Image -->
            <img class="img-thumbnail" *ngIf="aboutIcon"
            [src]="aboutHeader">
          </div>
          <div class="col-6 d-flex flex-row align-items-center justify-content-around px-0">
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
            <button mat-raised-button color="warn" (click)="fileInput.click()">Change</button>
            <button class="small-button" mat-raised-button (click)="onRotatePictureLeft()">
              <mat-icon>rotate_left</mat-icon>
            </button>
            <button class="small-button" mat-raised-button (click)="onRotatePictureRight()">
              <mat-icon>rotate_right</mat-icon>
            </button>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-12">
            <p>Shop Header:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <!-- Image -->
            <img class="img-thumbnail" *ngIf="aboutIcon"
            [src]="shopHeader">
          </div>
          <div class="col-6 d-flex flex-row align-items-center justify-content-around px-0">
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
            <button mat-raised-button color="warn" (click)="fileInput.click()">Change</button>
            <button class="small-button" mat-raised-button (click)="onRotatePictureLeft()">
              <mat-icon>rotate_left</mat-icon>
            </button>
            <button class="small-button" mat-raised-button (click)="onRotatePictureRight()">
              <mat-icon>rotate_right</mat-icon>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card class="my-3 mat-elevation-z8">
        <form [formGroup]="socialForm">
          <p><strong>Social Media Links:</strong></p>
          <mat-form-field class="w-100">
            <mat-label>Instagram:</mat-label>
            <input matInput formControlName="insta">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Youtube:</mat-label>
            <input matInput formControlName="youtube">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Facebook:</mat-label>
            <input matInput formControlName="fb">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Twitter:</mat-label>
            <input matInput formControlName="twitter">
          </mat-form-field>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card class="my-3 mat-elevation-z8">
        <form [formGroup]="companyForm">
          <p><strong>Company Info:</strong></p>
          <mat-form-field class="w-100">
            <mat-label>Company Name:</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Contact Number:</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-12 text-center pb-3">
      <button mat-raised-button color="primary" (click)="onSaveData()">Save</button>
    </div>
  </div>
</div>
