<div class="container-fluid bottom px-0">
  <mat-toolbar>
    <mat-toolbar-row class="background">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex justify-content-start">
            <p class="my-0">Contact Us:
              <a [href]="'mailto:'+(companyInfo | async)?.email"><i class="far fa-envelope fa-lg px-1"
                  style="color: white; text-decoration: none;"></i></a>
              <a *ngIf="(companyInfo | async)?.instagram as ig" [href]="ig"><i class="fab fa-instagram fa-lg px-1"
                  style="color: white; text-decoration: none;"></i></a>
              <a *ngIf="(companyInfo | async)?.facebook as fb" [href]="fb"><i class="fab fa-facebook fa-lg px-1"
                  style="color: white; text-decoration: none;"></i></a>
              <a *ngIf="(companyInfo | async)?.twitter as twit" [href]="twit"><i class="fab fa-twitter fa-lg px-1"
                  style="color: white; text-decoration: none;"></i></a>
              <a *ngIf="(companyInfo | async)?.youtube as yt"[href]="yt"><i class="fab fa-youtube fa-lg px-1"
                  style="color: white; text-decoration: none;"></i></a>
            </p>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="secondary">
      <!-- LARGE SCREEN FORMAT -->
      <div class="container d-none d-lg-block">
        <div class="row">
          <div class="col-12 px-0">
            <p class="text-center">© {{year}} {{ (companyInfo | async)?.name }} | <span><a
                  routerLink="/info/terms">Terms &
                  Conditions</a></span> | <span><a routerLink="/info/privacy">Privacy Policy</a></span></p>
          </div>
        </div>
      </div>

      <!-- SMALL SCREEN FORMAT -->
      <div class="container d-lg-none">
        <div class="row">
          <div class="col-12 px-0">
            <p class="text-center mb-0">© {{year}} {{ (companyInfo | async)?.name }} </p>
            <div class="text-center"><a routerLink="/info/terms">Terms & Conditions</a></div>
            <div class="text-center"><a routerLink="/info/privacy">Privacy Policy</a></div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
