<div class="content-page">
  <h1>Control Room</h1>
  <mat-tab-group>
    <mat-tab label="Orders">
      <orders-list></orders-list>
    </mat-tab>
    <mat-tab label="Inventory">
      <ng-container *ngTemplateOutlet="editableInventory"></ng-container>
    </mat-tab>
    <mat-tab label="Quotes">
      <ng-container *ngTemplateOutlet="editableQuote"></ng-container>
      <div class="row w-100">
        <div class="col-12 text-center pb-3">
          <button mat-raised-button color="primary" (click)="onSaveQuotes()">Save</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="About Page Content">
      <ng-container *ngTemplateOutlet="editableAbout"></ng-container>
      <div class="row w-100">
        <div class="col-12 text-center">
          <button mat-raised-button color="primary" (click)="onSaveAbout()">Save</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Other Controls">
      <ng-container *ngTemplateOutlet="miscContent"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #miscContent>
  <div class="container">
    <div class="row">
      <div class="col-12  p-3">
        <h4>Other Controls</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-card class="my-3 mat-elevation-z8">
          <p><strong>Image Control:</strong></p>
          <p>Homepage Images</p>
          <p>About Us Homepage Image</p>
          <p>About Us Header Image</p>
          <p>Shop Header Image</p>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-card class="my-3 mat-elevation-z8">
          <p><strong>Social Media Links:</strong></p>
          <p>Instagram</p>
          <p>Youtube</p>
          <p>Facebook</p>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-card class="my-3 mat-elevation-z8">
          <p><strong>Company Info:</strong></p>
          <p>Company Name</p>
          <p>Email</p>
          <p>Phone Number</p>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #editableInventory>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between p-3">
        <h4>Inventory:</h4>
        <button mat-raised-button color="accent" (click)="onAddItem()">+</button>
      </div>
    </div>
    <div *ngFor="let item of inventoryForms; let i=index">
      <mat-card class="my-3 mat-elevation-z8">
        <div class="row">
          <div class="col-lg-10 col-8">
            <form [formGroup]="item">
              <mat-form-field class="w-100" *ngIf="showTitle">
                <mat-label>Title:</mat-label>
                <input formControlName="name" matInput>
              </mat-form-field>
              <p><strong>Description:</strong></p>
              <div class="row w-100" formArrayName="description"
                *ngFor="let line of item.get('description').controls; let n=index">
                <div class="col-10" [formGroupName]="n">
                  <mat-form-field class="w-100">
                    <mat-label>Paragraph {{n+1}}:</mat-label>
                    <textarea matInput [formControl]="line" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                    </textarea>
                  </mat-form-field>
                </div>
                <div class="col-2 d-flex align-items-center px-0" *ngIf="item.get('description')['controls'].length>1">
                  <button class="small-button" mat-raised-button color="warn"
                    (click)="onDeleteDescriptionParagraph(i,n)">X</button>
                </div>
              </div>
              <button class="small-button" mat-raised-button color="accent"
                (click)="onAddDescriptionParagraph(i)">+</button>
              <div class="row">
                <div class="col-4 my-3">
                  <mat-form-field class="">
                    <mat-label>Price ($):</mat-label>
                    <input formControlName="price" matInput type="number" placeholder="0.00">
                    <mat-error *ngIf="item.get('price').invalid">Dont forget the price!</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-12 my-3">
                  <mat-slide-toggle color="primary" formControlName="isFeatured">Feature on Hompage</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col-12 my-3">
                  <mat-slide-toggle color="warn" formControlName="isSold">Sold</mat-slide-toggle>
                </div>
              </div>
              <p class="pb-0 mb-0"><strong>Filters:</strong></p>
              <div [formGroup]="inventoryForms[i].get('tags')">
                <mat-form-field *ngFor="let tag of tagList; let j=index">
                  <mat-label>{{tag.label}}</mat-label>
                  <mat-select [formControlName]="tag.id">
                    <mat-option *ngFor="let option of tag.options" [value]="option.id">{{option.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="picture-containter col-lg-2 col-4">
            <p><strong>Pictures:</strong></p>
            <div *ngIf="inventory[i].image" cdkDropList (cdkDropListDropped)="dropPicture($event)">
              <div class="pic-icon m-2" *ngFor="let pic of inventory[i].image; let n=index"
                (mousedown)="setSelectedImage(i, n)" cdkDrag cdkDragBoundary=".picture-containter" [cdkDragData]="i">
                <div class="picture-placeholder" *cdkDragPlaceholder></div>
                <img class="img-thumbnail" *ngIf="pic.url"
                  [ngClass]="{'item-img-selected': i==selectedPicture.itemNum && n==selectedPicture.picNum}"
                  [src]="pic.url" [ngStyle]="{'transform': 'rotate('+pic.rotation+'deg)'}">
                <div *ngIf="!pic.url" class="picture-placeholder d-flex align-items-end">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              </div>
            </div>
            <input style="display: none" type="file" (change)="onFileSelected($event, i)" #fileInput multiple>
            <div class="row my-2">
              <div class="col-12 d-flex justify-content-around">
                <button class="small-button" mat-raised-button (click)="fileInput.click()">+</button>
                <button class="small-button" mat-raised-button color="warn" (click)="onDeleteSelectedPicture()"
                  *ngIf="i==selectedPicture.itemNum">X</button>
              </div>
            </div>
            <div class="row py-3">
              <div class="col-12 d-flex justify-content-around">
                <button class="small-button" mat-raised-button (click)="onRotatePictureRight()"
                  *ngIf="i==selectedPicture.itemNum">
                  <mat-icon>rotate_right</mat-icon>
                </button>
                <button class="small-button" mat-raised-button (click)="onRotatePictureLeft()"
                  *ngIf="i==selectedPicture.itemNum">
                  <mat-icon>rotate_left</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-10">
              <p class="date-footer mx-3">Date Added: {{item.value.dateAdded | date : 'short'}}</p>
            </div>
            <div class="col-2 d-flex align-items-end">
              <button mat-raised-button color="warn" (click)="onDeleteItem(item, i)">X</button>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-12 text-center pb-3">
              <button mat-raised-button color="primary" (click)="onSaveInventory(item, i)">Save</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #editableQuote>
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between p-3">
        <h4>Quotes:</h4>
        <button mat-raised-button color="accent" (click)="onAddQuote()">+</button>
      </div>
    </div>
    <div cdkDropList (cdkDropListDropped)="dropQuote($event)">
      <mat-card class="my-3 mat-elevation-z8" cdkDrag cdkDragLockAxis="y" *ngFor="let quote of quotesForm; let i=index">
        <div class="container">
          <div class="row">
            <div class="col-1 px-0 mx-0 d-flex justify-content-start align-items-center" cdkDragHandle>
              <mat-icon> drag_indicator</mat-icon>
            </div>
            <div class="col-10 px-0 mx-0">
              <div class="container">
                <div class="row">
                  <div class="col-12 px-1">
                    <form [formGroup]="quote">
                      <div class="row">
                        <div class="col-6 px-1">
                          <div class="row">
                            <div class="col-12">
                              <mat-form-field class="w-100">
                                <mat-label>Who:</mat-label>
                                <input formControlName="source" matInput>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <mat-form-field class="w-100">
                                <mat-label>Where:</mat-label>
                                <input formControlName="location" matInput>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="col-6 px-1">
                          <mat-form-field class="w-100">
                            <mat-label>Statement:</mat-label>
                            <textarea matInput formControlName="quote" cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                            </textarea>
                          </mat-form-field>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 d-flex justify-content-end align-items-center px-2">
              <button class="small-button" mat-raised-button color="warn" (click)="onDeleteQuote(i)">X</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #editableAbout>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="p-3 d-flex align-items-center">About:</h4>
      </div>
    </div>
    <mat-card class="my-3 mat-elevation-z8">
      <div class="row">
        <div class="col-12">
          <div [formGroup]="aboutFormTitle" *ngIf="aboutFormTitle">
            <mat-form-field class="w-100">
              <mat-label>Page Title:</mat-label>
              <input formControlName="header" matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="my-3 mat-elevation-z8">
      <p><strong>Opening Paragraph:</strong></p>
      <div class="row w-100" *ngFor="let topSection of aboutFormTop; let i=index">
        <div class="col-11">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div [formGroup]="topSection" *ngIf="topSection">
                  <div class="row">
                    <mat-form-field class="w-100">
                      <mat-label>Paragraph {{i+1}}:</mat-label>
                      <textarea matInput formControlName="paragraph" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                      </textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 d-flex align-items-center px-0" *ngIf="aboutFormTop.length>1">
          <button class="small-button" mat-raised-button color="warn"
            (click)="onDeleteAbout(aboutFormTop, i)">X</button>
        </div>
      </div>
      <button class="small-button" mat-raised-button color="accent" (click)="onAddParagraph(aboutFormTop)">+</button>
    </mat-card>
    <mat-card class="my-3 mat-elevation-z8">
      <div class="row w-100">
        <div class="col-12">
          <div [formGroup]="aboutFormVideo" *ngIf="aboutFormVideo">
            <mat-form-field class="w-100">
              <mat-label>Video URL:</mat-label>
              <input formControlName="videoUrl" matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="my-3 mat-elevation-z8">
      <div class="row w-100">
        <div class="col-12">
          <div [formGroup]="aboutFormBottomHeader" *ngIf="aboutFormBottomHeader">
            <mat-form-field class="w-100">
              <mat-label>Bottom Header:</mat-label>
              <input formControlName="bottomSectionTitle" matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="my-3 mat-elevation-z8">
      <p><strong>Bottom Paragraph:</strong></p>
      <div class="row w-100" *ngFor="let bottomSection of aboutFormBottom; let i=index">
        <div class="col-10">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div [formGroup]="bottomSection" *ngIf="bottomSection">
                  <div class="row">
                    <mat-form-field class="w-100">
                      <mat-label>Paragraph {{i+1}}:</mat-label>
                      <textarea matInput formControlName="paragraph" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
                      </textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center px-0" *ngIf="aboutFormBottom.length>1">
          <button mat-raised-button color="warn" (click)="onDeleteAbout(aboutFormBottom, i)">X</button>
        </div>
      </div>
      <button mat-raised-button color="accent" (click)="onAddParagraph(aboutFormBottom)">+</button>
    </mat-card>
  </div>
</ng-template>
