<mat-toolbar class="background" color="primary">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-12">
        <!-- LARGE SCREEN -->
        <div class="d-none d-lg-block">
          <div class="row d-flex align-items-center banner">
            <a routerLink="">
              <div class="col-3 title" style="margin-left: 30px;">
                <img class="logo" src="../../assets/img/logo.svg">
                <span *ngIf="title">{{title | uppercase}}</span>
              </div>
            </a>
            <div class="col-2 text-center menu-item">
              <a routerLink="shop">SHOP</a>
            </div>
            <div class="col-2 text-center menu-item">
              <a [href]="galleryLink">GALLERY</a>
            </div>
            <div class="col-2 text-center menu-item">
              <a routerLink="about">ABOUT</a>
            </div>
            <div class="col-1 text-center menu-item">
              <a routerLink="checkout">
                <mat-icon style="padding-top: 10px; font-size: 30px; color: rgb(255,255,255,.9);"
                [matBadge]="(cartCount>0)?cartCount:''" matBadgeColor="warn" matBadgePosition="below after">shopping_cart</mat-icon>
              </a>
            </div>
          </div>
        </div>
        <!-- SMALL SCREEN -->
        <div class="col-12 d-lg-none h-100 d-flex align-items-center justify-content-between">
          <mat-icon style="position: relative; top: -5px" (click)="drawer.toggle()">menu</mat-icon>
          <div class="text-center d-lg-none title">
            <img class="logo" src="../../assets/img/logo.svg">
            <span *ngIf="title">{{title | uppercase}}</span>
          </div>
          <a routerLink="checkout">
            <mat-icon style="padding-top: 10px; font-size: 30px; color: rgb(255,255,255,.9);"
            [matBadge]="(cartCount>0)?cartCount:''" matBadgeColor="warn" matBadgePosition="below after" >shopping_cart</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="push" class="menu">
    <div class="container-fluid menu-content">
      <a routerLink="" (click)="drawer.close()">
        <div class="row">
          <div class="col-12 sidenav-item">
            <p class="text-center">HOME</p>
          </div>
        </div>
      </a>
      <a routerLink="shop" (click)="drawer.close()">
        <div class="row">
          <div class="col-12 sidenav-item">
            <p class="text-center">SHOP</p>
          </div>
        </div>
      </a>
      <a [href]="galleryLink" (click)="drawer.close()">
        <div class="row">
          <div class="col-12 sidenav-item">
            <p class="text-center">GALLERY</p>
          </div>
        </div>
      </a>
      <a routerLink="about" (click)="drawer.close()">
        <div class="row">
          <div class="col-12 sidenav-item">
            <p class="text-center">ABOUT</p>
          </div>
        </div>
      </a>
      <a routerLink="checkout" (click)="drawer.close()">
        <div class="row">
          <div class="col-12 sidenav-item">
            <p class="text-center">
              <mat-icon style="position: relative; top: 8px; font-size: 30px; margin-right: 10px;"
              [matBadge]="(cartCount>0)?cartCount:''" matBadgeColor="warn" matBadgePosition="below after">shopping_cart
              </mat-icon>CHECKOUT
            </p>
          </div>
        </div>
      </a>
      <div class="row bottom-item">
        <div class="col-12 d-flex justify-content-around" (click)="drawer.toggle()">
          <a routerLink="/info/terms">Terms</a>
          <a routerLink="/info/privacy">Privacy</a>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="side-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
