<div class="content-page">
  <carosel></carosel>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <most-popular></most-popular>
      </div>
    </div>
    <div class="row">
      <div class="col-12" #quotes>
        <quotes [animate]="animateQuotes"></quotes>
      </div>
    </div>
    <div class="row d-flex align-items-stretch pb-4">
      <div class="col-sm-6">
        <ig-gallery></ig-gallery>
      </div>
      <div class="col-sm-6">
        <about></about>
      </div>
    </div>
  </div>
</div>