<section-title [sectionTitle]="sectionTitle"></section-title>

<!-- LARGE SCREEN FORMAT -->
<div class="container d-none d-lg-block">
  <div class="row">
    <div class="col-4 py-3">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[0]"></a>
      </div>
    </div>
    <div class="col-4 py-3">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[1]"></a>
      </div>
    </div>
    <div class="col-4 py-3">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[2]"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 py-3">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[3]"></a>
      </div>
    </div>
    <div class="col-4 py-3">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[4]"></a>
      </div>
    </div>
    <div class="col-4 py-3">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[5]"></a>
      </div>
    </div>
  </div>
</div>

<!-- SMALL SCREEN FORMAT -->
<div class="container d-lg-none">
  <div class="row">
    <div class="col-6 py-2 px-2">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[0]"></a>
      </div>
    </div>
    <div class="col-6 py-2 px-2">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[1]"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 py-2 px-2">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[2]"></a>
      </div>
    </div>
    <div class="col-6 py-2 px-2">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[3]"></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 py-2 px-2">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[4]"></a>
      </div>
    </div>
    <div class="col-6 py-2 px-2">
      <div class="img-frame">
        <a routerLink="/shop"><img [src]="pics[5]"></a>
      </div>
    </div>
  </div>
</div>
