/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: 'Lato', sans-serif;
}

.test {
    border: 1px solid red;
}

.content-page {
    margin-top: 64px;
}

h5, h4, h3, h2, h1, p, a {
    font-family: 'Lato', sans-serif;
}

.flip-list-move {
    transition: transform 1s;
}