.item-image {
    width: 500px;
    height: auto;
}

@media(max-width: 992px) {
    .item-image {
        width: 100%
    }
}

.sold-out{
    color: red;
    font-size: larger;
    font-weight: bold;
}